.header {
  background-color: #039c52;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}

.linkGroup p {
  color: white;
  margin: 0;
}

.linkGroup span {
  margin-left: 10px;
}

.headerLogo {
  color: white;
  font-size: 30px;
  margin: 20px;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.profileInfo img {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .profileInfo p {
    display: none;
  }
  .linkGroup p {
    display: none;
  }
  .linkGroup span {
    margin: 10px 10px 0 0;
  }
}
