.header {
  background-color: #039c52;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.linkGroup p {
  color: white;
  margin: 0;
}

.linkGroup img {
  padding-left: 12px;
}

.headerLogo {
  color: white;
  margin-left: 10px;
}
