.placeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
}

.locationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.locationContainer p {
  margin: 0;
}

.placeFooter {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.imgPlace {
  width: 90%;
  margin: 20px;
}
