.rowContainer {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #039c52;
  flex: 1;
}

.logoContainer img {
  height: auto;
}

.logoContainer h1 {
  color: #ffffff;
  font-size: 50px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 50px;
  flex: 1;
}

.fieldsetContainer {
  border: 1px solid #beb9b9;
  border-radius: 5px;
  padding: 50px;
}

body {
  background-color: #039c52;
}

.gridContainer {
  height: 100vh;
  background-color: #039c52;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.formPasswordContainer {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  width: 100%;
}

h1 {
  font-size: 50px;
}

.forgotFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
