.searchBarContainer {
  margin: 20px 0;
  padding: 10px;
  display: inline-grid;
  grid-template-columns: 1fr 2fr 2fr;
  background-color: #ffffff;
  column-gap: 10px;
}
.searchInput {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
