.searchBarContainer {
  margin: 20px 0;
  padding: 16px 10px;
  display: inline-grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: #ffffff;
  column-gap: 10px;
}
.searchInput {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  margin: 0;
  width: 80%;
  margin-left: 50px;
  outline: none;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.switchContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.switchContainer span {
  margin-left: 8px;
}

@media screen and (max-width: 900px) {
  .switchContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .switchContainer span {
    margin-left: 0;
  }  
}
