.formContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 100%;
}

.buttonContainter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
