.primary {
  background-color: #f68e6f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  margin: 3px;
  cursor: pointer;
}

.link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: darkgreen;
  margin: 0 0 5px 10px;
}

.primary:hover {
  box-shadow: 1px 1px 4px #000000;
}

.circleShape {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

.button:disabled:hover {
  box-shadow: none;
}