.primary {
  background-color: #f68e6f;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

.link {
  background-color: transparent;
  border: none;
  margin-top: 10px;
}
