@font-face {
  font-family: Raleway;
  src: url('../src/assets/fonts/Raleway-Regular.ttf');
}

.global,
*,
html {
  font-family: Raleway;
}

body {
  background-color: #039c52;
}

iframe {
  pointer-events: none;
}
