.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 1px 1px 10px #000000;
  border-radius: 5px;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.articleText a {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 0;
}

.articleText p {
  font-size: 20px;
}

.articleImg {
  width: 30%;
  padding: 0 10px 30px;
}

.likeButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
